<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/styles/all.css">
    <title>HomePage</title>
</head>
<body>
    <button class="create-new-topic">Create a new topic</button>
    <div>
    <input class="search-topic" type="text" placeholder="Search topic, city, categories, user...">
    </div>
    <img src="/static/images/mapfrance.png" class="image-home">
        
</body>
</html>