<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profil</title>
    <link href="/static/styles/all.css" rel="stylesheet">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Kodchasan:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
    </style>
    <script src="https://kit.fontawesome.com/5dea4344fd.js" crossorigin="anonymous"></script>

</head>

<body>
    <div id="container-all">
        <div id="container-buttonback">
            <div id="container-back">
                <i class="fa-solid fa-chevron-left fa-sm"></i>
                <div class="textback">Back</div>
            </div>
        </div>
        <div id="container-pseudo">
            <div id="container-firstligne">
                <div class="pseudo">PSEUDO</div>
                <img src="/static/images/profil.png" class="imgprofil">
                <div id="container-edit">
                    <i class="fa-regular fa-pen-to-square fa-lg"></i>
                    <div class="edit">Edit picture</div>
                </div>
            </div>
            <div id="container-secondligne">
                <div id="container-lignepseudo">
                    <div class="textinput">Pseudo</div>
                    <input class="input-lignepseudo">
                </div>
                <div id="container-ligneemail">
                    <div class="textinput">Email</div>
                    <input class="input-ligneemail">
                </div>
            </div>
        </div>
        <div id="container-line">
            <div class="line"></div>
        </div>
        <div id="container-password">
            <div id="container-passwordchange">
                <div class="passwordchange">PASSWORD CHANGE</div>
            </div>
            <div id="container-inputpassword">
                <div id="container-actupassword">
                    <div class="textinput">Password</div>
                    <input class="input-passwordchange" type="password">
                </div>
                <div id="container-actupassword">
                    <div class="textinput">New password</div>
                    <input class="input-passwordchange" type="password">
                </div>
                <div id="container-actupassword">
                    <div class="textinput">Confirm new password</div>
                    <input class="input-passwordchange" type="password">
                </div>
            </div>
            <div id="container-button">
                <div id="container-buttonconfirm">
                    <a class="confirmbutton">
                        <div class="textconfirm">CONFIRM</div>
                    </a>
                </div>
            </div>
        </div>
        <div id="container-line">
            <div class="line"></div>
        </div>
        <div id="container-comment">
            <div id="container-commentposted">
                <div class="passwordchange">COMMENT POSTED</div>
            </div>
            <div id="container-thecommentposted">
                <div id="thecommentposted">
                    <div class="posted">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                        incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                        ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit
                        in
                        voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat
                        non
                        proident, sunt in culpa qui officia deserunt mollit anim id est laborum...</div>
                </div>
            </div>
            <div id="container-thecommentposted">
                <div id="thecommentposted">
                    <div class="posted">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                        incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                        ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit
                        in
                        voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat
                        non
                        proident, sunt in culpa qui officia deserunt mollit anim id est laborum...</div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>