<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create an account</title>
    <link href="/static/styles/all.css" rel="stylesheet">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Kodchasan:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
    </style>
</head>

<body>
    <div id="container-all">
        <div id="container-pseudo">
            <div id="container-firstligne">
                <div class="pseudo">PSEUDO</div>
                <img src="/static/images/profil.png" class="imgprofil">
                <div id="container-edit">
                    <img src="/static/images/edit.png">
                    <div class="edit">Edit picture</div>
                </div>
            </div>
            <div id="container-secondligne">
                <div id="container-lignepseudo">
                    <div class="textinput">Pseudo</div>
                    <input class="input-lignepseudo">
                </div>
                <div id="container-ligneemail">
                    <div class="textinput">Email</div>
                    <input class="input-ligneemail">
                </div>
            </div>
        </div>
        <div id="container-line">
            <div class="line"></div>
        </div>
    </div>
</body>

</html>