<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Topics</title>
    <link href="/static/styles/all.css" rel="stylesheet">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Kodchasan:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
    </style>
    <script src="https://kit.fontawesome.com/5dea4344fd.js" crossorigin="anonymous"></script>
</head>

<body>
    <div id="container-alltopics">
        <div id="container-principaltopic">
            <div id="container-textprincipaltopic">
                <div class="textprincipaltopic">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                    exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
                    reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
                    occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum...
                </div>
            </div>
            <div id="container-footerprincipaltopic">
                <div id="footer-leftprincipaltopic">
                    <img src="/static/images/profil.png" class="imgprofilfooter">
                    <div class="username">UserName</div>
                    <div class="barre">|</div>
                    <div class="date">date</div>
                </div>
                <div id="footer-rightprincipaltopic">
                    <div id="container-heart">
                        <i class="fa-regular fa-heart fa-xl" id="heart"></i>
                    </div>
                    <div id="container-icon">
                        <i class="fa-regular fa-paper-plane fa-lg"></i>
                    </div>
                </div>
            </div>
        </div>
        <div id="container-secondtopic">
            <div id="container-textprincipaltopic">
                <div class="textprincipaltopic">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam ...
                </div>
            </div>
            <div id="container-footerprincipaltopic">
                <div id="footer-leftprincipaltopic">
                    <img src="/static/images/profil.png" class="imgprofilfooter">
                    <div class="username">UserName</div>
                    <div class="barre">|</div>
                    <div class="date">date</div>
                </div>
                <div id="footer-rightprincipaltopic">
                    <div id="container-heart">
                        <style>
                            .fa-heart {
                                transition: all 0.2s ease-in-out;

                            }

                            .fa-heart:hover {
                                transform: scale(1.05);
                                /* Ajustez la taille selon vos besoins */
                            }
                        </style>
                        <i class="fa-regular fa-heart fa-xl" id="heart"></i>
                    </div>
                    <div id="container-icon">
                        <i class="fa-regular fa-paper-plane fa-lg"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>

</html>