@import url('https://fonts.googleapis.com/css2?family=Kodchasan:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

* {
    font-family: 'Kodchasan', sans-serif;
    box-sizing: border-box;
    outline: none;
    margin: 0;
    padding: 0;
}

html,
body {
    margin: 0;
    padding: 0;
}

/* ------ HEADER ------ */

.bar {
    display: none;
}

@media screen and (max-width : 700px) {

    /* burger */
    input[type="checkbox"] {
        -webkit-appearance: none;
        display: none;
        visibility: hidden;
    }

    .bar {
        display: block;
        position: absolute;
        cursor: pointer;
        width: 40px;
        height: 25px;
        left: 1rem;
        top: 1.5rem;
    }

    .bar span {
        position: absolute;
        width: 38px;
        height: 4px;
        background: white;
        border-radius: 100px;
        display: inline-block;
        transition: 0.3s ease;
        left: 0;
    }

    .bar span.top {
        top: 0;
    }

    .bar span.middle {
        top: 10px;
    }

    .bar span.bottom {
        bottom: 0;
    }

    input[type]:checked~span.top {
        transform: rotate(45deg);
        transform-origin: top left;
        width: 38px;
        left: 3px;
    }

    input[type]:checked~span.bottom {
        transform: rotate(-45deg);
        transform-origin: top left;
        width: 38px;
        bottom: -5px;
        box-shadow: 0 0 10px #495057;
    }

    input[type]:checked~span.middle {
        transform: translateX(-20px);
        opacity: 0;
    }
}

#container-header {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: #C741E9;
}

.titleheader {
    color: white;
    font-size: 20px;
    padding-left: 15px;
}

#container-allbutonheader {
    display: flex;
}

#container-buttonlogin {
    cursor: pointer;
    background-color: #F3D0FC;
    width: 120px;
    height: 30px;
    margin-left: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.8rem;
}

#container-buttonlogin:hover {
    background-color: #E6B2F4;
}

@media screen and (max-width : 700px) {}

/* ------ PAGE CREATE AN ACCOUNT ------ */

#container-create {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

}

#container-textcreate {
    box-shadow: 5px 5px 5px 5px grey;
    border-radius: 0.8rem;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 35%;
    gap: 20px;
}

.create {
    font-size: 25px;
}

.title-input {
    color: #777272;
    font-size: 14px;
    padding-left: 8px;
}

.input-pseudo {
    width: 100%;
    height: 30px;
    border-radius: 0.8rem;
    padding-left: 10px;
    border: 1px solid #C741E9;
    background-color: #F1D8F7;
}

.text-button {
    font-size: 16px;
    font-weight: bold;
}

.button {
    background-color: #E398F6;
    border: 1px solid black;
    border-radius: 0.8rem;
    width: 130px;
    height: 30px;
    cursor: pointer;

}

.button:hover {
    background-color: #E084F8;
}

/* ------ PAGE PROFIL ------ */

#container-buttonback {
    margin-top: 20px;
    margin-left: 20px;
}

#container-back {
    display: flex;
    cursor: pointer;
    align-items: center;
}

.imgback {
    width: 12px;
    height: 12px;
}

.textback {
    margin-left: 3px;
}

.textback:hover {
    font-weight: bold;
}


#container-pseudo {
    display: flex;
    align-items: center;
    justify-content: center;
}

#container-firstligne {
    display: flex;
    width: 40%;
    flex-direction: column;
    align-items: center;
}

.pseudo {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

.imgprofil {
    width: 200px;
}

#container-edit {
    margin-top: 13px;
    display: flex;
    cursor: pointer;
    align-items: center;
}

.edit {
    margin-left: 8px;
}

#container-secondligne {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 70%;
}

.textinput {
    color: #777272;
    margin-left: 12px;
    font-size: 14px;
}

.input-lignepseudo {
    margin-top: 5px;
    background-color: #F1D8F7;
    border: 1px solid #C741E9;
    height: 33px;
    width: 40%;
    border-radius: 0.8rem;
    padding-left: 10px;
}

#container-ligneemail {
    margin-top: 15px;
}

.input-ligneemail {
    margin-top: 5px;
    background-color: #F1D8F7;
    border: 1px solid #C741E9;
    height: 35px;
    width: 60%;
    border-radius: 0.8rem;
    padding-left: 10px;
}

@media screen and (max-width : 750px) {
    #container-pseudo {
        flex-direction: column;
    }

    #container-secondligne {
        align-items: center;
        margin-top: 20px;
        width: 100%;
    }

    #container-lignepseudo {
        width: 60%;
    }

    .input-lignepseudo {
        width: 100%;
    }

    #container-ligneemail {
        width: 60%;
    }

    .input-ligneemail {
        width: 100%;
    }
}

#container-line {
    margin-top: 25px;
    margin-bottom: 25px;
    display: flex;
    justify-content: center;
}

.line {
    border: 1px solid black;
    width: 92%;
    height: 1px;
}


.passwordchange {
    font-weight: bold;
    margin-left: 7%;
    margin-bottom: 20px;
}

#container-inputpassword {
    display: flex;
    justify-content: space-around;
}

#container-actupassword {
    width: 25%;
}

.input-passwordchange {
    margin-top: 5px;
    background-color: #F1D8F7;
    border: 1px solid #C741E9;
    height: 35px;
    width: 100%;
    border-radius: 0.8rem;
    padding-left: 10px;
}

#container-buttonconfirm {
    margin-top: 20px;
    cursor: pointer;
    background-color: #E6B2F4;
    width: 120px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.8rem;
}

#container-button {
    display: flex;
    justify-content: center;
}

.textconfirm {
    font-weight: bold;
}

#container-buttonconfirm:hover {
    background-color: #dc96ef;
}

@media screen and (max-width : 750px) {
    #container-inputpassword {
        flex-direction: column;
    }

    #container-inputpassword {
        align-items: center;
        width: 100%;
    }

    #container-actupassword {
        width: 60%;
        margin-top: 10px;
    }

    .input-passwordchange {
        width: 100%;
    }
}

#container-thecommentposted {
    display: flex;
    justify-content: center;
}

#thecommentposted {
    box-shadow: 5px 5px 5px 5px grey;
    padding: 12px;
    width: 90%;
    border-radius: 0.8rem;
    margin-bottom: 25px;
}

.posted {
    font-size: 14px;
}

/* ------ PAGE TOPICS ------ */

#container-alltopics {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#container-principaltopic {
    margin-top: 20px;
    box-shadow: 5px 5px 5px 5px grey;
    padding: 20px;
    width: 90%;
    border-radius: 0.8rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.textprincipaltopic {
    font-size: 14px;
    margin-bottom: 25px;
}

#container-footerprincipaltopic {
    display: flex;
    align-items: center;
}

#footer-leftprincipaltopic {
    display: flex;
    align-items: center;
}

.imgprofilfooter {
    width: 50px;
    margin-right: 10px;
}

.barre {
    margin-left: 7px;
    margin-right: 7px;
}

#footer-rightprincipaltopic {
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

.imgheart {
    width: 20px;
    cursor: pointer;
}



#container-icon {
    cursor: pointer;
    background-color: #EEC1F9;
    border-radius: 0.3rem;
    width: 38px;
    height: 38px;
    margin-left: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#container-icon:hover {
    background-color: #e5aaf4;
}

#container-heart {
    display: flex;
    justify-content: center;
    align-items: center;
}

#heart {
    cursor: pointer;
}

#container-secondtopic {
    margin-top: 20px;
    box-shadow: 5px 5px 5px 5px grey;
    padding: 20px;
    width: 80%;
    border-radius: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#container-replytopic {
    margin-top: 20px;
    box-shadow: 5px 5px 5px 5px grey;
    padding: 15px;
    width: 70%;
    border-radius: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#container-reply {
    background-color: #f5e4f9;
    width: 160px;
    border-radius: 0.3rem;
    margin-left: 20px;
    margin-bottom: 8px;
}

.reply {
    font-size: 14px;
    padding-left: 10px;
}

#container-footerreply {
    display: flex;
    align-items: center;
}

#container-user {
    display: flex;
    align-items: center;
}

@media screen and (max-width : 450px) {
    #container-footerreply {
        flex-direction: column;
    }

    #footer-leftprincipaltopic {
        justify-content: flex-start;
        width: 100%;
    }

    #footer-rightprincipaltopic {
        justify-content: flex-end;
    }
}