#display-topics {
    position: absolute;
    top: 110%;
    right: 5%;
    transform: translate(0, -50%);
    width: 45%;
    overflow-y: scroll;
    overflow-x: hidden;
    max-height: calc(145vh - 25%);
}

#container-display-topics {
    margin-top: 20px;
    box-shadow: 5px 5px 5px 5px grey;
    padding: 20px;
    width: 100%;
    border-radius: 0.8rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

@media screen and (max-width: 1070px) {
    #display-topics {
            width: 80%;
            right: 10%;
            left: 10%;
            transform: translate(0, 0);
            margin-top: 40%;
            max-height: auto;
        }
}

@media screen and (max-width: 768px) {
    #display-topics {
        width: 100%;
            right: 0;
            left: 0;
            transform: none;
            top: auto;
            margin-top: 0%;
            max-height: initial;
    }
}

@media screen and (max-width: 650px) {
    #display-topics {
        width: 100%;
        right: 0;
        left: 0;
        transform: none;
        top: auto;
        margin-top: 0%;
        max-height: initial;
    }
}

@media screen and (max-width: 768px) {
    #container-display-topics {
        margin-top: 20px;
        box-shadow: 5px 5px 5px 5px grey;
        padding: 20px;
        width: 80%;
        right: 10%;
        left: 10%;
        border-radius: 0.8rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}

@media screen and (max-width: 480px) {
    #container-display-topics {
        margin-top: 20px;
        box-shadow: 5px 5px 5px 5px grey;
        padding: 20px;
        width: 100%;
        right: 0;
        left: 0;
        border-radius: 0.8rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}